body {
    background-color: #f6f6f6;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}

body h3 a.jump_to_source span:hover {
    color: #666666;
}

body h3 a.jump_to_source span:active {
    color: #777777;
}

body #chat_content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    border-color: #e5e7eb;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    height: 70vh;
    text-align: center;
    /*overflow: hidden;*/
    position: relative;
    transition: 0.2s ease-in-out;

}

#chat_input {
    height: 55px;
    line-height: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
    overflow: auto;
    padding-top: 2px;
}

#chat_input textarea {
    border: none;
    resize: none;
    outline: none;
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    background: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    font-weight: bold;
    font-size: 15pt;
}

#chat_input textarea:focus {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#888888, direction=135, strength=2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /*behavior: url(/js/ie-css3.htc);*/
}

#chat_messages {
    height: calc(100% - 70px);
    overflow: auto;
    padding: 0 10px 0 10px;
}


.robotBox {
    background-color: #e1e1e1;
    margin: 30px auto auto auto;

}

.userBox {
    background-color: #6399ff;
    margin: 30px auto auto auto;

}

.robotBoxContainer, .userBoxContainer {
    display: block;
}

.robotBoxContainer {
    text-align: left;
}

.userBoxContainer {
    text-align: right;
}

/*功能*/
.border-1px {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.disable-image-selection {
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
    user-drag: none; /* Generic */

    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -o-user-select: none; /* Opera */
    user-select: none; /* Generic */

}

.transform-rotate-180 {
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -moz-transform: rotate(180deg); /* Firefox */
    -ms-transform: rotate(180deg); /* IE9+ */
    -o-transform: rotate(180deg); /* Opera */
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* IE5+ */
}

/*功能*/


/*
@media (min-width: 600px) {
  body {
    background-color: red;
  }
}*/

#clear-btn {
    /*width: 0;*/
    /*height: 0;*/
    width: 50px;
    height: 50px;
    background-color: red;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.fu-btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 100%;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    vertical-align: middle;
}

#send-btn {
    background-color: #22c55e;
}

#textarea_parent {
    display: inline-block;
    height: 50px;
    width: 50%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    position: relative;
    overflow: hidden;
    outline: 2px solid #e5e7eb;
    border: none;
    vertical-align: middle;
    transition: 0.5s ease-in-out;
}

.robotBox, .userBox {
    width: auto;
    max-width: 80%;
    min-height: 20px;
    line-height: 20px;
    padding: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    display: inline-block;
    word-wrap: break-word;
    /*word-break: break-all;*/
}

#outer_function_container {
    height: 70vh;
    top: 0;
    right: -51px;
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: white;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    border-color: #e5e7eb;
    border-top-right-radius: 10px;
}