body {
    background-color: #f6f6f6;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}

body h3 a.jump_to_source span:hover {
    color: #666666;
}

body h3 a.jump_to_source span:active {
    color: #777777;
}

body #chat_content {
    position: relative;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    height: 75vh;
    text-align: center;
    overflow: hidden;
}

#chat_input {
    height: 50px;
    line-height: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: 25px;
    width: 100%;
}

#chat_input textarea {
    border: none;
    resize: none;
    outline: none;
    position: absolute;
    vertical-align: center;
    top: 0;
    left: 0;
    background: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    font-weight: bold;
    font-size: 15pt;
}

#chat_input textarea:focus {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#888888, direction=135, strength=2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /*behavior: url(/js/ie-css3.htc);*/
}

#chat_messages {
    height: 85%;
    overflow: auto;
}


.robotBox {
    background-color: #e1e1e1;
    margin: 30px auto auto 30px;

}

.userBox {
    background-color: #6399ff;
    margin: 30px 30px auto auto;

}

.robotBoxContainer, .userBoxContainer {
    display: block;
}

.robotBoxContainer {
    text-align: left;
}

.userBoxContainer {
    text-align: right;
}
