body {
    background-color: #f6f6f6;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    overflow: hidden;
}

body h3 a.jump_to_source span:hover {
    color: #666666;
}

body h3 a.jump_to_source span:active {
    color: #777777;
}

body #chat_content {
    width: 100%;
    height: 100%;
    /*min-height: 200px;*/
    border-color: #e5e7eb;
    box-sizing: border-box;
    border-radius: 0;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: absolute;
    transition: 0.2s ease-in-out;
    right: 0;
    top: 0;

    background-image: -webkit-linear-gradient(to right top, #ffffff 10%, #f5ffff 50%, #effeff 100%);
    background-image: -moz-linear-gradient(to right top, #ffffff 10%, #f5ffff 50%, #effeff 100%);
    background-image: -o-linear-gradient(to right top, #ffffff 10%, #f5ffff 50%, #effeff 100%);
    background-image: linear-gradient(to right top, #ffffff 10%, #f5ffff 50%, #effeff 100%);
}

#leftFunctionBar {
    height: 100%;
    width: 300px;
    left: -300px;
    top: 0;
    border-color: #8c8c8c;
    background: #f0fbff;
    position: absolute;
    z-index: 10;
    border-right: 2px;
    /*transition: 0.2s ease-in-out;*/
}

#leftFunctionBar table {
    width: 100%;
    height: 100%;
}

#leftFunctionBar table td {
    padding: 0;
}

.theTopHalf {
    height: 30%;
    /*background: red;*/
}

.theTopHalf .btn {
    background: #f6f6f6;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 1px solid #e5e7eb;

    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1a1a1a, direction=135, strength=3);
}

.theTopHalf .btn.hover {
    background: #fafafa;

    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=135, strength=3);
}

.theTopHalf .btn img {
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.theTopHalf .btn span {
    vertical-align: middle
}

.theBottomHalf {
    height: 70%;
}

#chat_input {
    height: 55px;
    line-height: 100%;
    margin-bottom: 0;
    position: absolute;
    margin-top: 5px;
    width: 100%;
    overflow: auto;
    padding-top: 2px;
    white-space: nowrap;
    left: 0;
    bottom: 0;
}

#chat_input textarea {
    border: none;
    resize: none;
    outline: none;
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    background: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    font-weight: bold;
    font-size: 15pt;
    display: inline-block;
}


#textarea_parent.active {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1a1a1a, direction=135, strength=3);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #9b9b9b;
    /*behavior: url(/js/ie-css3.htc);*/
}

#chat_messages {
    height: calc(100% - 70px);
    overflow: auto;
    width: calc(100% - 60px);
}

.msgFun span {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    background: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.userFun span {
    margin-right: 5px;

}

.robotFun span {
    margin-left: 5px;
}

.msgFun span:hover {
    background-color: #e3e3e3;

}

.msgFun span:active {
    background-color: #d7d7d7;

}

.msgFun {
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    transition: all .3s ease-in-out;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.robotFun {
    left: -5px
}

.userFun {
    right: -5px;
}

/*.msgContainer .msgFun span {*/
/*    font-size: 15px;*/
/*    margin-right: 5px;*/
/*}*/

.msgFunHover .robotBoxContainer .robotFun {
    left: 0;

}

.msgFunHover .userBoxContainer .userFun {
    right: 0;

}

.msgFunHover .msgFun span {
    font-size: 16px;

}

.msgFunHover .msgFun {
    opacity: 1;
    filter: alpha(opacity=100);
}


.robotBox {
    background-color: #e1e1e1;
    /*margin: 30px auto auto auto;*/

}

.userBox {
    background-color: #6399ff;
    /*margin: 30px auto auto auto;*/

}

.msgContainer {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;

}

.robotBox, .userBox {
    text-align: left;
    font-size: 15px;
}

.robotBox p, .userBox p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.robotBox pre, .userBox pre {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
}

.robotBox pre code, .userBox pre code {
    background: none;
    color: #f8f8f2;
    font-weight: normal;
}

.msgPreBox {
    position: relative;
}

.msgPreBox:hover .BoxPreCopyBtn {
    opacity: 1;
}

.BoxPreCopyBtn {
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 10px;
    color: white;
    display: block;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.robotBox code, .userBox code {
    border-radius: 2px;
    padding: 3px;
    font-weight: bold;
}

.robotBox code {
    background-color: #a6a6a6;
    color: #1b1b1b;
}

.userBox code {
    background-color: #c9d0ff;
    color: #0b0b0b;
}

.robotBoxContainer {
    text-align: left;
    margin-left: 10px;
}

.userBoxContainer {
    text-align: right;
    margin-right: 10px;
}

/*
@media (min-width: 600px) {
  body {
    background-color: red;
  }
}*/

#clear-btn {
    /*width: 0;*/
    /*height: 0;*/
    width: 50px;
    height: 50px;
    background-color: #ff6060;
    transition: 0.5s ease-in-out;
    opacity: 1;

    background-image: -webkit-linear-gradient(to right top, #ff9090 30%, red 100%);
    background-image: -moz-linear-gradient(to right top, #ff9090 30%, red 100%);
    background-image: -o-linear-gradient(to right top, #ff9090 30%, red 100%);
    background-image: linear-gradient(to right top, #ff9090 30%, red 100%);
}

.fu-btn {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    vertical-align: middle;
}

#send-btn {
    background-color: #22c55e;
    display: inline-block;
    vertical-align: middle;

    background-image: -webkit-linear-gradient(to right top, #7cdd92 10%, #04e838 50%, #11ce77 75%, #0dff66 100%);
    background-image: -moz-linear-gradient(to right top, #7cdd92 10%, #04e838 50%, #11ce77 75%, #0dff66 100%);
    background-image: -o-linear-gradient(to right top, #7cdd92 10%, #04e838 50%, #11ce77 75%, #0dff66 100%);
    background-image: linear-gradient(to right top, #7cdd92 10%, #04e838 50%, #11ce77 75%, #0dff66 100%);
}

#textarea_parent {
    display: inline-block;
    height: 50px;
    width: 50%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    position: relative;
    overflow: hidden;
    outline: none;
    border: 2px solid #e5e7eb;
    vertical-align: middle;
    transition: 0.2s ease-in-out;
}

.robotBox, .userBox {
    width: auto;
    max-width: 80%;
    min-height: 20px;
    line-height: 20px;
    padding: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* 兼容Firefox */
    -webkit-border-radius: 10px; /* 兼容Chrome和Safari */
    display: inline-block;
    word-wrap: break-word;
    /*word-break: break-all;*/
}

#outer_function_container {
    height: 80%;
    top: 0;
    right: -55px;
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    border-color: #e5e7eb;
    width: 55px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.8;
}

#outer_function_container .fu-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#top_function_container {
    position: absolute;
    height: 80px;
    opacity: 0.5;
    background-color: #888888;
    top: -60px;
    width: 100%;
    left: 0;
    filter: alpha(opacity=50);
}


#tfc_buttons {
    height: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
    padding-top: 5px;
}

#tfc_show_btn img {
    transition: all 0.2s ease-in-out;
}

#top_function_container .fu-btn {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#outer_function_container img, #top_function_container img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
