.btn-box-shadow {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1a1a1a, direction=135, strength=3);
}

.btn-box-shadow.hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=135, strength=3);
}